
        <main>
            <div id="sobre">
                <hgroup class="sobre">
                    <p>No mercado desde 2010, o espaço de evento Rolê top...</p>
                </hgroup>
            </div>
            <section id="galeria">
                <h2>Galeria</h2>
                <div id="container-galeria"></div>
                <ul class="fotos-galeria">

                    <div class="fotos">
                        <li><img id="party" src="img/party time.jpg"><img id="espaço" src="img/Espaço_roletop.jpg"></li>
                    </div>

                    <div class="fotos">
                        <li><img id="bailão" src="img/Baile.jpg"><img id="festa-top" src="img/Top-Party-Schools-main-image.jpg"></li>
                    </div>                   

                </ul>
                </div>

            </section>
            <section id="agedamento-de-eventos">
                <h2>Agende seu evento</h2>
                

                <a href="login.html">
                    <div class="teste-final">
                        <img id="calendário" src="img/usa esse pra ver a merda.jpg">
                    </div>
                </a>


            </section>
            <section id="avaliação-clientes">
                <h2>Avaliação dos Clientes</h2>
                <div class="teste-final">
                    <img id="avaliação" src="img/Capturar.JPG">
                </div>
                
            </section>
        </main>
        