
<link href="~/css/cadastro.css" rel="stylesheet" type="text/css">
        <main>
            <form method="POST" action='@Url.Action("Login", "Cliente")'>
                <input type="text" name="Usuario" placeholder="Usuario">
                <input type="password" name="Senha" placeholder="Senha">
                <input type="submit">
            </form>
        </main>
